*{
	margin:0;
	padding:0;
}

html{
	background:url('../img/back.jpg') #333d43;
	
}

body{
	/*background:url('../img/涔崇櫧鑹茬殑鏈ㄧ汗绾圭悊.jpg') repeat-x top center, url('../img/涔崇櫧鑹茬殑鏈ㄧ汗绾圭悊.jpg') repeat-x;*/
background:url('../img/back.jpg') #333d43;
	min-height:500px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#888;
	padding:10px;
}
p{
	margin:0 0;
}
h1,.h2{
	color: #000;
	line-height: 1;
	font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	font-weight: normal;
	margin: 0 auto;
	position: absolute;
	left: 45%;
	margin-left: -446px; 
}

h1{
	/*background:url('../img/涔崇櫧鑹茬殑鏈ㄧ汗绾圭悊.jpg');*/
	font-size: 30px;
	padding: 20px 15px 10px;
	top: 0;
}

.h2{
	color: #000;
	line-height: 1;
	font-family: 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	font-weight: normal;
	margin: 0 auto;
	position: absolute;
	left: 45%;
	margin-left: -446px; 
	z-index:1;

	font-size: 14px;
	padding: 4px 13px 9px 15px;
	top: 51px;
}

.mask-div{	
	/*position: relative;*/
	left:0;
	right:0;
	/*top:0;*/
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	/*background: rgba(9, 9, 9, 0.125);*/
}
.img-line{
	width: 95%;
}

div{
	/*margin: 0 auto;*/
	/*position:relative;*/
	/*left: 45%;*/
	margin-left: 0px;
	/*margin-top: 30px;*/
	padding: 10px 15px 10px;
}
footer{
	color: #BBBBBB;
	font-size: 15px;
	line-height: 1.6;
	height:50px;
	/*position:fixed;*/
	bottom:0px;
	left:45%;
	text-align: center; 
}

footer b{
	color: #888888;
	display: block;
	font-size: 10px;
	font-weight: normal;
}
@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% microsoft yahei;}
a{color:#0088DB;text-decoration:none;cursor:pointer}
a:hover{color:#2A5E8E}
/* input */
input{font-size:12px;font-size:100%;font-family:microsoft yahei;outline:none;line-height:normal;color:#444;}
.ipt{border:solid 1px #d2d2d2;border-left-color:#ccc;border-top-color:#ccc;border-radius:2px;box-shadow:inset 0 1px 0 #f8f8f8;background-color:#fff;padding:4px 6px;height:21px;line-height:21px;color:#555;width:180px;vertical-align:baseline;}
.ipt:focus{border-color:#95C8F1;box-shadow:0 0 4px #95C8F1;}
/* btn */
.btn{position:relative;cursor:pointer;display:inline-block;vertical-align:middle;font-size:12px;font-weight:bold;height:27px;line-height:27px;min-width:52px;padding:0 12px;text-align:center;text-decoration:none;border-radius:2px;border:1px solid #ddd;color:#666;background-color:#f5f5f5;background:-webkit-linear-gradient(top, #F5F5F5, #F1F1F1);background:-moz-linear-gradient(top, #F5F5F5, #F1F1F1);background:linear-gradient(top, #F5F5F5, #F1F1F1);}
input.btn{height:29px;}
.btn:hover{border-color:#c6c6c6;color:#333;background-color:#f8f8f8;background:-webkit-linear-gradient(top, #f8f8f8, #f1f1f1);background:-moz-linear-gradient(top, #f8f8f8, #f1f1f1);background:linear-gradient(top, #f8f8f8, #f1f1f1);box-shadow:#ddd 0 1px 1px 0;}
.btn:active, .btn.btn-active{box-shadow:#ddd 0 1px 2px 0 inset;border-color:#c6c6c6;}
.btn:focus{border-color:#4d90fe;outline:none}
.btn-primary{border-color:#3079ED;color:#F3F7FC;background-color:#4D90FE;background:-webkit-linear-gradient(top, #4D90FE, #4787ED);background:-moz-linear-gradient(top, #4D90FE, #4787ED);background:linear-gradient(top, #4D90FE, #4787ED);}
.btn-primary:hover{border-color:#2F5BB7;color:#fff;background-color:#4D90FE;background:-webkit-linear-gradient(top, #4D90FE, #357AE8);background:-moz-linear-gradient(top, #4D90FE, #357AE8);background:linear-gradient(top, #4D90FE, #357AE8);}
.btn-primary:active{box-shadow:#2176D3 0 1px 2px 0 inset;border-color:#3079ED;}
.btn-primary:focus{border-color:#4d90fe;outline:none}

.theme-buy{left:-30px;text-align:left;}
.theme-signin{font-size:15px;}
.theme-popover-mask{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
.theme-popover{z-index:9;position:absolute;top:50%;left:50%;width:660px;height:360px;margin:-180px 0 0 -330px;border-radius:5px;border:solid 2px #e4e4e4;background-color:#fff;display:none;box-shadow:0 0 10px #666;background:#fff;}
.theme-poptit{border-bottom:1px solid #ddd;padding:12px;position:relative;height:24px;}
.theme-poptit .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover{color:#444;}
.theme-popbod{padding:60px 15px;color:#444;height:148px;}
.dform{padding:80px 60px 40px;text-align:center;}
.theme-signin{margin: -50px -20px -50px 90px;text-align:left;font-size: 14px;}
.theme-signin h4{color:#999;font-weight:100;margin-bottom: 20px;font-size: 12px;}
.theme-signin li{padding-left: 80px;margin-bottom: 15px;}
.theme-signin li strong{float: left;margin-left: -80px;width: 80px;text-align: right;line-height: 32px;}
.theme-signin .btn{margin-bottom: 10px;}
.theme-signin p{font-size: 12px;color: #999;}
